.card {
    background-color: white;
    margin: auto;
    margin-block: 1em;
    padding: 1em;
    width: 100%;
    padding-block: 2em;
    border-radius: 0.4em;
    position: relative;
    padding-bottom: 1em;
    box-shadow: 0 1em 1em var(--clr-box-shadow);
}

.feat {
    border-left: 5px solid var(--clr-desaturated-cyan);
}

.company {
    font-weight: 700;
    font-size: 1.1em;
    color: var(--clr-desaturated-cyan);

}

.card__new,
.card__featured {
    background-color: var(--clr-desaturated-cyan);
    padding: 0.3em;
    border-radius: 0.8em;
    margin-inline: 0.5em;
    color: white;
    text-transform: uppercase;
}

.card__featured {
    background-color: var(--clr-very-dark-grayish-cyan);
}

.card__position {
    margin-block: 1em;
    font-weight: 700;
    font-size: 1.1em;
}

.card__opts {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--clr-dark-grayish-cyan);
    color: var(--clr-dark-grayish-cyan);
    padding-bottom: 1em;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    /* padding-left: 1em; */
    align-items: flex-start;
    justify-content: flex-start;

}

.tag {
    background-color: var(--clr-filter-tablets);
    color: var(--clr-desaturated-cyan);
    font-weight: 700;
    font-size: 1.1em;
    /* margin-right: 1em; */
    padding: 0.5em;
    border-radius: 0.2em;
}

.tag:hover {
    background-color: var(--clr-desaturated-cyan);
    color: white;
    cursor: pointer;
}

.tag:last-of-type {
    margin-right: 0;
}

.card img {
    width: 3.5em;
    position: absolute;
    top: -1.75em;
}

@media(min-width: 1000px) {
    .card {
        display: flex;
    }

    .card img {
        position: static;
        height: 6em;
        width: 6em;
        margin-right: 1em;
    }

    .tags {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        justify-self: flex-end;
        margin-left: auto;
        padding-left: 1em;
    }

    .card__opts {
        border-bottom: 0;
    }
}